process {
    withName: 'FORCE_HIGHER_LEVEL' {
        ext.args = [
            "FILE_OUTPUT_OPTIONS": "codes_prm/L2_file_output_options_custom.txt",
            "OUTPUT_SUBFOLDERS": "TRUE",
            "NTHREAD_READ": 15,
            "RESOLUTION": 30,
            "SENSORS": "LND04 LND05 LND07 LND08 LND09",
            "ABOVE_NOISE": 3,
            "BELOW_NOISE": 1,
            // "DATE_RANGE": "1984-01-01 2023-12-31",
            "DATE_RANGE": "2023-07-01 2023-12-31",
            "OUTPUT_TSS": "TRUE",
            "FILE_ENDMEM": "endm/DE_endmembers.txt",
            "SMA_SHD_NORM": "FALSE",
            "OUTPUT_RMS": "TRUE",
            "INTERPOLATE": "RBF",
            "RBF_SIGMA": "8 16 16 32 48 64 96",
            // "HARMONIC_FIT_RANGE": "1984-01-01 2023-12-31",
            "HARMONIC_FIT_RANGE": "2023-07-01 2023-12-31",
            "INT_DAY": 8,
            "OUTPUT_TSI": "TRUE",
            "GV-POL": "DSS DES DPY LTS LGS",
            "OTHER-POL": "DSS DES",
        ]
    }
}
